.square{
    width:100px;
    height:100px;
    border:1px solid white;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24;
    font-weight: 500;
}

.win{
    color:yellow
}